<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <article>
        <header>
          <h3>修改人員</h3>
        </header>
        <body>
          <%= render 'form' %>
        </body>
      </article>
      <footer>
        <%= link_to "取消", :back %>
      </footer>
    </div>
  </div>
</div>