<section class="user container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <article>
        <header>
          <h3>修改目的地</h3>
        </header>
        <body>
          <%= render 'form' %>
        </body>
      </article>
      <footer>
        <%= link_to "取消", clients_path %>
      </footer>
    </div>
  </div>
</section>