<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <article>
        <header>
          <h3>新增目的地</h3>
        </header>
        <body>
          <%= render 'form' %>
        </body>
      </article>
    </div>
  </div>
</section>