<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <article>
        <header>
          <h3>任務</h3>
          <p><%= link_to "新增任務", new_mission_path %></p>
        </header>
        <section>
          <%= render 'search_form' %>
        </section>
        <section>
          <% if @missions.present? %>
            <table class="table">
              <thead>
                <tr>
                  <th width="15%" ><%= Time.new.strftime("%Y-%m-%d") %></th>
                  <th width="15%" > 車牌 </th>
                  <th width="15%" > 裝貨地點 </th>
                  <th width="15%" > 目的地_1 </th>
                  <th width="15%" > 目的地_2 </th>
                  <th width="10%" > 數量 </th>
                </tr>
              </thead>
              <%= render @missions %>
            </table>
          <% end %>
        </section>
      </article>
    </div>
  </div>
</div>